header{
    background-color: #f8f9fa;
    border: #777 solid 1px;
}
header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
}
.stats-container {
    display: flex;

    gap: 20px;
}
.stats-container div {
    display: flex;
    flex-direction: column;

    padding: 5px;
    gap: 5px;
}
.stats-container div h4 {
    margin-top: auto;
}
body section {
    display : flex;
    flex-direction: column;

    padding: 20px;
    margin: 10px 0;
    background-color: #f8f9fa;
    border: #777 solid 1px;
}
#searchbar {
    display: flex;
    align-items: center;

    gap: 5px;
    margin-top: 5px;
}
#quick-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex: 1;

    gap: 5px;
    margin-top: 10px;
}
section .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}
section .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    gap: 10px;
    padding: 20px;

}
#watchlist .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;    
    text-align: center;
    
    gap: 5px;
    color: #777;
}

#watchlist .container li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;    
    text-align: center;
    
    background-color: none;
    gap: 5px;
}
#watchlist .container div{
    display: flex;
    justify-content: left;
    align-items: stretch;    
    text-align: left;
    
    background-color: #f8f9fa;
    border-left: solid #777 1px ;
    border-radius: 0%;
}


section .container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;

    word-break: normal;
    overflow-wrap: break-word;

    background-color: lightblue;
    
    border-radius: 10%;
    padding: 1rem;
}
